In [67]:
import pandas as pd
import numpy as np
import matplotlib
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [68]:
train = pd.read_csv("train_ready_for_model_loan.csv")
train.head()

,Loan_ID,Loan_Status,Dependents_0,Dependents_1,Dependents_2,Dependents_3+,Education_Graduate,Education_Not Graduate,Gender_Female,Gender_Male,...,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban,Self_Employed_No,Self_Employed_Yes,ApplicantIncome,CoapplicantIncome,Credit_History,LoanAmount,Loan_Amount_Term
0,LP001002,1,1,0,0,0,1,0,0,1,...,0,0,1,1,0,5849,3069.473619,1.0,149.297043,360.0
1,LP001003,0,0,1,0,0,1,0,0,1,...,1,0,0,1,0,4583,1508.000000,1.0,128.000000,360.0
2,LP001005,1,1,0,0,0,1,0,0,1,...,0,0,1,0,1,3000,3069.473619,1.0,66.000000,360.0
3,LP001006,1,1,0,0,0,0,1,0,1,...,0,0,1,1,0,2583,2358.000000,1.0,120.000000,360.0
4,LP001008,1,1,0,0,0,1,0,0,1,...,0,0,1,1,0,6000,3069.473619,1.0,141.000000,360.0

In [69]:
test = pd.read_csv("test_ready_for_model_loan.csv")
test.head()

,Loan_ID,Dependents_0,Dependents_1,Dependents_2,Dependents_3+,Education_Graduate,Education_Not Graduate,Gender_Female,Gender_Male,Married_No,...,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban,Self_Employed_No,Self_Employed_Yes,ApplicantIncome,CoapplicantIncome,Credit_History,LoanAmount,Loan_Amount_Term
0,LP001015,1,0,0,0,1,0,0,1,0,...,0,0,1,1,0,5720,3069.473619,1.0,110.0,360.0
1,LP001022,0,1,0,0,1,0,0,1,0,...,0,0,1,1,0,3076,1500.000000,1.0,126.0,360.0
2,LP001031,0,0,1,0,1,0,0,1,0,...,0,0,1,1,0,5000,1800.000000,1.0,208.0,360.0
3,LP001035,0,0,1,0,1,0,0,1,0,...,0,0,1,1,0,2340,2546.000000,1.0,100.0,360.0
4,LP001051,1,0,0,0,0,1,0,1,1,...,0,0,1,1,0,3276,2138.643939,1.0,78.0,360.0

In [70]:
result = test[["Loan_ID"]]

In [71]:
test.shape

(367, 21)

In [72]:
#X=train.iloc[:,:6]train.iloc[:,7:]
Y=pd.DataFrame(train.iloc[:,1])
X=pd.concat([train.iloc[:,2:]],axis=1)
X.shape

(614, 20)

In [73]:
X.head(5).columns

Index(['Dependents_0', 'Dependents_1', 'Dependents_2', 'Dependents_3+',
       'Education_Graduate', 'Education_Not Graduate', 'Gender_Female',
       'Gender_Male', 'Married_No', 'Married_Yes', 'Property_Area_Rural',
       'Property_Area_Semiurban', 'Property_Area_Urban', 'Self_Employed_No',
       'Self_Employed_Yes', 'ApplicantIncome', 'CoapplicantIncome',
       'Credit_History', 'LoanAmount', 'Loan_Amount_Term'],
      dtype='object')

In [74]:
Y.columns

Index(['Loan_Status'], dtype='object')

In [75]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
logreg = LogisticRegression()
logreg.fit(X,Y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [76]:
X_test=test.iloc[:,1:]
X_test.columns

Index(['Dependents_0', 'Dependents_1', 'Dependents_2', 'Dependents_3+',
       'Education_Graduate', 'Education_Not Graduate', 'Gender_Female',
       'Gender_Male', 'Married_No', 'Married_Yes', 'Property_Area_Rural',
       'Property_Area_Semiurban', 'Property_Area_Urban', 'Self_Employed_No',
       'Self_Employed_Yes', 'ApplicantIncome', 'CoapplicantIncome',
       'Credit_History', 'LoanAmount', 'Loan_Amount_Term'],
      dtype='object')

In [77]:
Y_pred_train = logreg.predict(X)
Y_pred_train

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
      dtype=int64)

In [78]:
print('Accuracy of logistic regression classifier on test set: {:.2f}'.format(logreg.score(X,Y)))

Accuracy of logistic regression classifier on test set: 0.68

In [79]:
from sklearn.metrics import confusion_matrix
confusion_matrix = confusion_matrix(Y, Y_pred_train)
print(confusion_matrix)

[[ 13 179]
 [ 17 405]]

In [82]:
Y_pred = logreg.predict(X_test)

In [84]:
result['Loan_Status']=Y_pred

In [85]:
result['Loan_Status'] = result.Loan_Status.replace({1:'Y',0:'N'})

In [86]:
result.to_csv("res1.csv",index=False)